/*==============================
=            Global            =
==============================*/

html, body {
  @include font-setup;
  height: 100%;
}

html {
  font-family: $font-body-text;
  font-size: 62.5%;
}

body {
  background: $color-body-background;
  color: $color-text-body;
  font-size: $font-base-size;
  line-height: $font-line-height;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {

}

a,
button {
  @include transition(all);
  outline: none;
  &:hover {
    @include transition(all);
  }
}

p {
  margin: 0 0 1rem 0;
}

/*-----  End of Global  ------*/