/*==============================
=            Mixins            =
==============================*/

/*==========  Helpers  ==========*/

@mixin clearfix {
  *zoom: 1;
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
  &:before {
    content: " ";
    display: table;
  }
}

@mixin font-setup {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
}


/*==========  Lists  ==========*/

@mixin list-zero {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*==========  Transitions  ==========*/

@mixin transition($property: all, $time: 500ms, $type: ease-in-out, $delay: 0){
  -webkit-transition: $property $time $type $delay;
  -moz-transition: $property $time $type $delay;
  -o-transition: $property $time $type $delay;
  transition: $property $time $type $delay;
}


/*==========  Breakpoints  ==========*/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == laptop {
    @media (min-width: 768px) and (max-width: 999px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 767px)  { @content; }
  }
}


/*==========  Box Sizing  ==========*/

@mixin box-sizing($sizing-type: border-box){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*==========  Box Shadow  ==========*/

@mixin box-shadow($horizontal: 0, $vertical: 0, $blur: 3px, $spread: 3px, $color: rgba(0,0,0,0.2)){
  -moz-box-shadow:    $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow:         $horizontal $vertical $blur $spread $color;
}

/*-----  End of Mixins  ------*/