/*=================================
=            Variables            =
=================================*/

/*==========  Colors  ==========*/

/* Color Definitions */

$color-black: #000;
$color-white: #fff;

/* Color Assignment */

$color-text-body: $color-black;
$color-text-heading: $color-black;
$color-text-links: $color-black;

$color-body-background: $color-white;

/*==========  Fonts  ==========*/

/* Font Definitions */

$font-family-helvetica: "Helvetica Neue", sans-serif;
$font-family-times: "Times New Roman", serif;

/* Font Options */

$font-base-size: 1.6rem;
$font-line-height: 1.6;

/* Font Assignment */

$font-body-text: $font-family-helvetica;
$font-heading-text: $font-family-times;


/*==========  Border Radius  ==========*/

$border-radius: 2px;

/*-----  End of Variables  ------*/